* {
  box-sizing: border-box;
  font-family: 'Yatra One', cursive;
}

.hidden {
  display: none;
}

li {
  list-style: none;
}

.myMyths {
  margin-top: 5%;
  width: 160%;
}

button.submit {
  float: right;
}

form#myth {
  margin-top: 50px;
}

#myth textarea {
  resize: none;
}


.myth {
  margin-top: 20px;
}

.cardLayout {
  margin-top: 2%;
}

.top-30 {
  margin-top: 30px;
}


.card {
  font-family: 'Yatra One', cursive;
  background-image: url("assets/scroll-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.25rem;
  overflow: scroll;
  height: 100%
  
}

.button {
  background-color: rgba(245, 245, 245, 0.5);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  border-radius: 3%;
  justify-self: end;
}

.card-text {
  white-space: normal;
  overflow-y: scroll;
}

.card-header {
 
  font-family: 'Yatra One', cursive;
}

body {
  background-image: url("assets/mythical-land.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputFields {
  margin-top: 15%;
}

.btn {
  margin-top: 1%;
}

.headers {
  margin-top: 5%;
  background-color: rgba(222, 184, 135, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.avatarCard {
  background-color: rgba(255, 255, 255, 0);
}

.avatarStyle {
  width: 10rem;
  height: 10rem;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
}


.label {

  background-color: rgba(222, 184, 135, 0.5);  
  display: inline-block;
}

.err {
  color: red;
  background-color: black;
}

.btnSelected {
  border-color: orange;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.blackButton{
  background-color: black;
  color: white;
}

.whiteButton{
  background-color: white;
  color: black;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background-color: transparent;
}
