* {
  box-sizing: border-box;
  font-family: 'Yatra One', cursive;
}

.hidden {
  display: none;
}

li {
  list-style: none;
}

.myMyths {
  margin-top: 5%;
  width: 160%;
}

button.submit {
  float: right;
}

form#myth {
  margin-top: 50px;
}

#myth textarea {
  resize: none;
}


.myth {
  margin-top: 20px;
}

.cardLayout {
  margin-top: 2%;
}

.top-30 {
  margin-top: 30px;
}


.card-body {
  font-family: 'Yatra One', cursive;
  background-image: url(../assets/scroll-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.25rem
  
}

.card-text {
  white-space: normal;
  overflow-y: scroll;
}

.card-header {
 
  font-family: 'Yatra One', cursive;
}

body {
  background-image: url("../assets/mythical-land.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputFields {
  margin-top: 15%;
}

.btn {
  margin-top: 1%;
}

.headers {
  margin-top: 5%;
  background-color: rgba(222, 184, 135, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

label {
  background-color: rgba(222, 184, 135, 0.5);
}

.err {
  color: red;
  background-color: black;
}