
* {
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
}

.card-body {
    font-family: 'Yatra One', cursive;
    background-image: url(../assets/scroll-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-header {
   
    font-family: 'Yatra One', cursive;
}

body {
    background-image: url("../assets/mythical-land.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll {
  border: initial;
}
