
.hidden {
  display: none;
}

li {
  list-style: none;
}

.myMyths {
  margin-top: 25%;
  width: 160%;
}

button.submit {
  float: right;
}

form#myth {
  margin-top: 50px;
}

#myth textarea {
  resize: none;
}

.card-body {
  padding: 2%;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.blog-container {
  margin-top: 30px;
}


.myth {
  margin-top: 30px;
}

.cardLayout {
  margin-top: 2%;
}

.top-30 {
  margin-top: 30px;
}



